image {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.subDiv {
  height: 100%;
  width: 100%;
}

.navbarParent {
  height: 85%;
  width: 67%;
  max-width: 100%;
  max-height: 100%;
  margin-top: 2%;
}

.inputSearch {
  width: 400px;
}

.containerDiv {
  background-color: rgb(240, 248, 222);
  border-radius: 20px;
  padding: 50px;
}
