.navbar{
    display:flex;
    justify-content: space-between;
}

/* .navbar button{
    background-color: red;
    padding: 10px 17px;
    border-radius: 5px;
    font-size: medium;
    border-style: none;
} */

button:hover{
        filter: brightness(90%);
}

.link{
    background-color: red;
    padding: 7px 17px 12px 17px;
    border-radius: 5px;
    font-size: medium;
    border-style: none;
    color: white;
}

.link:hover{
    text-decoration: none;
    filter: brightness(90%);
}

.sub-div{
    text-align: center;
}

.navbar-container{
    padding: 30px 30px 0 30px;
}

select{
    background-color: black;
    color: white;
    padding: 10px;
    margin-right: 20px;
}

.logo{
    height: 80px;

}

@media (max-width: 480px) {
    .logo{
        height: 40px;
    }

    select{
        padding: 7px;
        width: 70px;
        border-radius: 5px;
        margin-right: 10px;
    }

    .navbar-container{
        padding: 20px 30px 0 30px;
    }

    .navbar button {
        padding: 7px;
        width: 80px;
    }
}