.navbar{
    display: flex;
    padding: 5px;
    margin: 10px 200px 20px 200px;
    align-items: center;
    justify-content: space-evenly;
    min-width: auto;
    border-bottom: solid rgb(240, 240, 240);
    border-width: 1px;
    flex-wrap: wrap;
    font-size: 18px;
}

.navbar > div a{
    text-decoration: none;
    color: inherit;
}

.navbar > div a:hover{
    color:cadetblue;
    text-decoration: underline;
}

.navbar form > input[type="text"]{
    padding: 10px 15px;
    width: 300px;
    margin-right: 1px;
    background-color: rgb(245, 245, 245);
    border: 1px solid black;
    border-radius: 25px;
    font-family: 'Kalam', cursive;
    font-family: 'Montserrat', sans-serif;
} 

.navbar form > input[type="text"]:focus{
    outline: none;
}

.navbar form > select{
    padding: 10px;
    background-color: rgb(245, 245, 245);
    border: none;
    border-radius: 5px;
    width: 80px;
    min-width: 80px;
    margin-left: 5px;
    color: black;
}

.navbar form > select > option{
    color:black;
}

.logo{
    height: 100px;
    position: absolute;
    margin: 10px;
}

.rotate{
    animation: rotation 2s infinite linear;
}

.brands {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
}

.form-div{
    display: inline;
}

.dropdown:hover{
    cursor: pointer;
}


@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }