.wrapper{
    background-color: rgb(241, 241, 241);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;

    animation: fadeInAnimation ease 2s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.main-wrapper{
    display: flex;
    margin: auto;
    height: auto;
    width: 87vw;
    height: 70vh;
    justify-content: center;
}

.field-div1{
    width: 40%;
    padding: 15px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.field-div2{
    width: 60%;
    justify-content: center;
}

.field-div1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.field-div span{
    margin-bottom: 15px;
}

.field-div section{
    margin-bottom: 50px;
    width: 100%;
}

.form-div{
    height: auto;
    padding: 15px;
    width: auto;
    min-width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.form-div input[type=text], input[type=email], input[type=password]{
    width: auto;
    min-width: 90%;
    border: none;
    margin: 20px 0;
    padding: 10px;
    border-bottom: rgb(206, 206, 206) 1px solid;
}

.form-div input[type=text], input[type=email], input[type=password]:focus{
    width: auto;
    outline: none;
}

.model{
    height: 100%;
    object-fit: contain;
}

.options-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}