.main{
    margin: 20px auto 0 auto;
    padding: 0 auto;
    max-width: 65%;
    min-width: auto;
    height: 78%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}


/* no scrollbar */
.main::-webkit-scrollbar {
    display: none;
}