body, html {
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.center-div{
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 500;
}

.center-div h1,h2,h3{
    padding:10px;
}

.h1{
    font-size: 4rem;
    max-width: 700px;
    line-height: 120%;
}

h2{
    font-size: 1.625rem;
    padding-bottom: 25px;
}

h3{
    font-size: 1.2rem;
    padding-bottom: 20px;
}