.input-div{
    width:100%;
    height:110%;
    display: flex;
    position: relative;
}

label{
    position: absolute;
    padding: 20px 0 0 10px;
    color: gray;
}

input{
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 12px;
}

input:focus {
    outline:none;
}

input:focus + label,
input:valid + label{
    position: absolute;
    padding: 0 0 0 0;
}

.button-div{
    height: 100%;
    background-color: aliceblue;
}

.submit-button-div{
    width:30%;
    height:100%;
    background-color: red;
}

.submit-button {
    height:100%;
    width: 100%;
    font-size: 180%;
    border: none;
}

.form{
    height: 60px;
}