.wrapper{
    height: 100%;
    width: 70%;
}

.title-div{
    width: 100%;
    text-align: center;

}

.list-div{
    height: auto;
    padding: 2%;
}

ul{
    list-style-type: none;
    height: 100%;
}

li{
    height: 80px;
    margin-bottom: 1%;
}

li > button {
    color:white;
    text-align: left;
    padding-left: 4%;
    padding-top: 2%;
    height: 100%;
    width: 100%;
    font-size: x-large;
    display: flex;
    border-style: none;
}

li > button:active {
    border-style: outset;
}

li > button:hover {
    background-color: rgb(110, 110, 110);
    transition: background 0.5s ease-in-out;
}

li > button:not(hover) {
    background-color: rgb(44, 44, 44);
    transition: background 0.5s ease-in-out;
}

.description {
    width: 80%;
}

ul:hover{
    cursor: pointer;
}

.desc-div{
    display: flex;
    justify-content: center;
}

.desc-span{
    display: none;
    font-size: larger;
    margin: 2% 0 2% 0;
    padding: 3% 2% 3% 2%;
    background-color: rgb(110, 110, 110);
}

.desc-div:hover{
    cursor: pointer;
}

.desc-span > p {
    padding: 10px 0 10px 0;
}

.question-div{
    float: left;
    flex: 0 0 95%;
}

.form{
    margin: 2% 10% 2% 10%;
    padding-bottom: 5%;
    height: 50px;
    text-align: center;
}

.form > p {
    font-size: 23px;
    margin-bottom: 10px;
}

.form > input[type="text"] {
    border-radius: 5px;
    background-color: rgb(12, 11, 11);
    color: white;
    margin: 5px 1% 0 0 ;
    width: 35%;
    border-style: solid;
    border-width: thin;
}

.form > input[type="submit"] {
    background-color: red;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    border-style: none;
    font-size: large;
}

input[type="submit"]:hover {
    cursor: pointer;
}


@media (max-width: 480px) {
    .question-div{
        font-size: medium;
        margin-top: 20px;
    }

    .wrapper{
        width: 95%;
    }

    li{
        height: 70px;
        margin-bottom: 10px;
    }

    .plus-icon{
        position: relative;
        top: 25%;
        right: 6%;
    }

    .form{
        margin: 2% 4% 2% 4%;
    }

    .form > p {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .form > input[type="text"] {
        width: 90%;
        margin-bottom: 15px;
    }

    .form > input[type="submit"] {
        width: 60%;
        text-align: center;
        padding-right: 15px;
    }
}