.card{
    min-width: 330px;
    max-width: auto;
    margin: 10px;
    margin-bottom: 50px;
    align-items: center;
    padding: 10px;
    text-align: center;
    flex-basis: 19%;
    font-family: 'Kalam', cursive;
    font-family: 'Montserrat', sans-serif;
}

.detailspt1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.detailspt2{
    flex-direction: row;
    text-align: start;
}

.img-div{
    background-color: #f2f2f2;
    border-radius: 7px;
}

.card img{
    height: 300px;
    width: 100%;
    object-fit:contain;
}

.card h2{
    font-size: 15px;
}

.card h4{
    font-size: 14px;
}

.addtocart-button{
    border-radius: 20px;
    padding: 7px 15px;
    background-color: white;
    border: 2px solid black;
}
.addtocart-button:hover{
    background-color: #073ea5;
    color: white;
    cursor: pointer;
}