.navbar{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
}

.navbar button{
    background-color: red;
    padding: 10px 17px;
    border-radius: 5px;
    font-size: medium;
}

.navbar-container{
    padding: 30px 30px 0 30px;
}

select{
    background-color: black;
    color: white;
    padding: 10px;
    margin-right: 20px;
}

.logo{
    height: 80px;

}