.info{
    background-color: #364d79;
    padding: 5px 50px;
    margin: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
}

select{
    background-color: inherit;
    border: none;
    color: white;
    font-size: inherit;
    font-family: 'Kalam', cursive;
    font-family: 'Montserrat', sans-serif;
}

select:first-of-type{
    margin-right: 5px;
}


.discount:first-of-type{
    margin-right: 20px;
}

.discount:last-of-type{
    margin-left: 20px;
}

.dropdown-section{
    display: flex;
    justify-content: space-between;
    width: 220px;
}

@media screen and (max-width: 769px) {
    .info{
        display: none;
    }
  }