.wrapper{
    height: 41vh;
    width: 70vw;
    margin: 0 auto;
    background-color: rgb(255, 231, 231);
    flex-wrap: wrap;
    border-radius: 5px;
}

.main{
    margin: 15px 0 0 140px;
    text-align: left;
    color: #073ea5;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.slogan{
    font-family: 'Kalam', cursive;
}

.img-div{
    width: 50%;
    margin-left: 10px;
}

.promo-div{
    margin-top: 30px;
    width: 50%;
}

.main img{
    margin-top: 9px;
    height: 360px;
    max-height: 100%;
}

.filter-section{
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: small;
}

.new-products select{

}

.dropdown-section{
    display: flex;
    justify-content: space-between;
}

.new-deals-container{
    padding: 10px;
    height: auto;
}

.dropdown{
    padding: 10px;
}

.new-deals-div{
    height: auto;
    padding: 10px 100px 10px 100px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    
}


.new-deals-div::-webkit-scrollbar {
    display: none;
}